@media screen and (min-width:415px){
    footer{
        .logo-reseau{
            gap: 50px;
        }
        div{
            img{
                width: 35px;
            }
         }
         .desinscr{
             font-size: 1em;
         }
        }
    }