$gray-light : #e4e4e4;
$green :#94c11f;
$dark-green : #3d5741;
$black : #0f0f0f;
$white : #fdfdfd;
$light-green : #94c11f;
$white : #fdfdfd;
$light-gray : #efefef;
$red : #f31e1e;
$light-blue : #2fd1b8; 