@import './variable','./header','./section-promo','./section-truc-mobile','./footer-mobile';

body{
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

@import './header-desktop','./section-promo-desktop','./section-truc-pc','./footer-pc';